@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Oswald&display=swap');
.HeroContainer{
    background-image: linear-gradient(black -10%,#212121);
    height: 91vh;
    width: 100vw;
}
.UpperCon{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading1{
    margin-top: 100px;
    font-size: 70px;
    color : #F2F2F2;
    height: 70px;
}
.heading2{
    font-size: 70px;
    color : white;
}
.heading3{
    color : #9CA3AF;
    font-size: 15px;
    padding : 10px;
}
.beautiful{
    color : purple;
    font-size: 20px;
}

.heading1, .heading2, .heading3, .beautiful
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: capitalize;
}

.input-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 2px solid #212121;
    border-radius: 23px;

}
.input{
    height: 46px;
    width: 400px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border : none;
    border-right: 2px solid #212121;
    background:#D1D5DB;
    outline: none;
    padding : 2px;
    text-align: center;
}
.searchButton
{
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background:#D1D5DB;
    border-left: none;
    border: none;
    font-weight: 600;
    font-size: large;
}
.main-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container:hover{
    border : 2px solid #16b7ed;
}